.cart-components {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  margin-bottom: 5%;
  margin-top: 3%;
}

.items-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  min-height: 20vh;
  width: 100%;
}

.items-container__item {
  display: flex;
  padding: 20px;
  margin: 10px;
  width: 55rem;
}

.items-container__item:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cart-page-button-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.item-info-container {
  max-width: 350px;
  min-width: 250px;
  margin-right: 60px;
}

.navlink {
  margin-bottom: 25px;
}

.item-info-container h2 {
  margin-bottom: 30px;
}

.item-info-container button {
  margin: 10px 10px;
  min-width: 80px;
  max-width: 300px;
  border-radius: 20px;
  min-height: 45px;;
  max-height: auto;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: background 150ms ease-in-out;
}

.item-info-container button:hover {
  background-color: grey;
  transition-duration: 0.2s;
  cursor: pointer;
}

.items-container__item p {
  margin-left: 15px;
  margin-bottom: 30px;
}

.items-container__item h6 {
  margin-left: 15px;
  font-weight: bold;
  font-size: large;
}

 .item-dropdown {
  padding: 0;
  margin-left: 10px;
  max-height: 30px;
}

.item-image img {
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

.items-container__item img {
  max-width: 300px;
}

.items-container__item {
  display: flex;
  flex-direction: row;
}

.items-container__item img {
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

.num-cart-items {
  margin-bottom: 30px;
  margin-left: 25px;
  margin-top: 10px;
  font-size: larger;
}

.num-cart-pets {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
  font-size: larger;
}

.items-container__item > .number-format {
  font-size: 20px;
  font-weight: 500;
  margin-top: 3px;
}

.proceed-to-checkout {
  padding: 20px 50px;
  border: 1px solid black;
  box-shadow: 5px 5px 8px grey;
  border-radius: 5px;
  margin: 50px 20px 0 30px;
  margin-top: 50px;
  margin-left: 30px;
  position: -webkit-sticky;
  position: sticky;
  height: 335px;
  top: 150px;
  margin-bottom: 100px;
  margin-right: 3%;
}

.proceed-to-checkout h4 {
  margin-bottom: 20px;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.payment-methods img {
  max-height: 40px;
}

.proceed-to-checkout button {
  margin: 10px 10px;
  min-width: 80px;
  max-width: 300px;
  border-radius: 20px;
  min-height: 45px;;
  max-height: auto;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: background 150ms ease-in-out;
}

.proceed-to-checkout button:hover {
  background-color: grey;
  transition-duration: 0.2s;
  cursor: pointer;
}


img.payment {
  width: 50px;
}

label.payments {
  display: flex;
  align-items: center;
}

.cart-items-container__item {
  display: flex;
  padding: 20px;
  margin: 10px;
  width: 60rem;
  justify-content: space-between;
}


.cart-items-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.cart-item-info-container {
  min-width: 520px;
  max-width: 520px;
}

.cart-items-container__item img {
  max-width: 100px;
}

.cart-item-info-container h2 {
  margin-bottom: 30px;
}


.cart-item-info-container > h1 {
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: 1.4em;
}

.cart-item-info-container button {
  margin: 10px 10px;
  min-width: 80px;
  max-width: 300px;
  border-radius: 20px;
  min-height: 45px;;
  max-height: auto;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: background 150ms ease-in-out;
}

.cart-item-info-container button:hover {
  background-color: grey;
  transition-duration: 0.2s;
  cursor: pointer;
}

.items-container__item > .item-info-container > a > h1{
  margin: 0 0 10px 15px;
}

.cart-items-container__item p {
  margin-left: 15px;
  margin-bottom: 30px;
}

.cart-items-container__item h6 {
  margin-left: 15px;
  font-weight: bold;
  font-size: large;
}

.dropdown {
  padding: 0;
  margin-left: 10px;
  max-height: 30px;
}

.cart-item-image img {
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

.cart-items-container__item img {
  max-width: 300px;
}

.cart-items-container__item {
  display: flex;
  flex-direction: row;
}

.cart-items-container__item img {
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

.ReactModalPortal .cart-checkout-h1 {
  font-size: 30px;
  display: flex;
  justify-self: center;
  justify-content: center;
}

div.cart-quant-price {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 30px;
}

.cart-quant-price > div {
  margin-right: 4px;
}

.ReactModalPortal .cart-checkout {
  display: flex;
  justify-self: center;
  justify-content: center;
}

button.removeFromCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
    min-width: 100px;
    max-width: 400px;
    border-radius: 20px;
    min-height: 45px;;
    max-height: auto;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: background 150ms ease-in-out;
    cursor: pointer;
    margin: 5% 0;
}

.removeFromCartBtn-div {
  margin: 0 0 4px 0;
}

.cart-wrapper {
  margin-left: 3%;
}
