.cart-components {
  display: flex;
}

.items-container {
  display: flex;
  justify-content: left;
}

.items-container__item {
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 55rem;
}

.items-container__item:hover {
  box-shadow: 5px 5px 8px grey;
}

.cart-page-button-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.item-info-container {
  max-width: 350px;
}

.item-info-container h2 {
  margin-bottom: 30px;
}

.item-info-container button {
  margin: 10px 10px;
  min-width: 80px;
  max-width: 300px;
  border-radius: 20px;
  min-height: 45px;;
  max-height: auto;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: background 150ms ease-in-out;
}

.item-info-container button:hover {
  background-color: grey;
  transition-duration: 0.2s;
  cursor: pointer;
}

.items-container__item p {
  margin-left: 15px;
  margin-bottom: 30px;
}

.items-container__item h6 {
  margin-left: 15px;
  font-weight: bold;
  font-size: large;
}

.dropdown {
  padding: 0;
  margin-left: 10px;
  max-height: 30px;
}

.item-image img {
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

.items-container__item img {
  max-width: 300px;
}

.items-container__item {
  display: flex;
  flex-direction: row;
}

.items-container__item img {
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 10px;
}

.num-cart-items {
  margin-bottom: 30px;
  margin-left: 25px;
  margin-top: 10px;
  font-size: larger;
}

.num-cart-pets {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
  font-size: larger;
}

.proceed-to-checkout {
  padding: 20px 50px;
  border: 1px solid black;
  box-shadow: 5px 5px 8px grey;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 30px;
  position: fixed;
}

.proceed-to-checkout h4 {
  margin-bottom: 20px;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.payment-methods img {
  max-height: 40px;
}

.proceed-to-checkout button {
  margin: 10px 10px;
  min-width: 80px;
  max-width: 300px;
  border-radius: 20px;
  min-height: 45px;;
  max-height: auto;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: background 150ms ease-in-out;
}

.proceed-to-checkout button:hover {
  background-color: grey;
  transition-duration: 0.2s;
  cursor: pointer;
}
