div.pet-detail-container {
    flex-wrap: wrap;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}

div.pet-detail-img-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1050px;
    min-width: 200px;
    height: 100%;
    margin: 20px 0px 100px 0px;
}

div.pet-detail-image-container {
    width: 450px;
    height: 500px;
    align-self: center;
}

div.pet-detail-img-info > .details {
    max-width: 550px;
    min-width: 500px;
    padding-left: 20px;
    font-size: 16px;
}

.details > .pet-specifics {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 0px;
}

.pet-detail-field-value {
    display: flex;
    flex-direction: row;
}

.pet-detail-field-value > .pet-detail-field {
    font-weight: bold;
    margin-right: 5px;
}

.pet-detail-field-value > .pet-price {
    font-weight: 700;
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin: 10px;
}

div.details > h3 {
    margin-bottom: 8px;
    font-size: 1.6rem;
}

.pet-detail-more > h3 {
    font-size: 1.8rem;
}

img.image-pet {
    width: 100%;
    height: 100%;
    object-fit: contain;
    justify-content: center;
}

.pet-detail-more-container {
    display: flex;
    flex-wrap: wrap;
    width: 79vw;
}

.pet-detail-more-container h3 {
    font-size: 1.8rem;
    margin-bottom: 50px;
}

div.pet-detail-more {
    width: 300px;
    height: 80vh;
    object-fit: cover;
    border-radius: 3px;
    transition: box-shadow 250ms ease-in-out, transform 150ms ease;
}

/* .new-width {
    width: 79vw;
} */

/* .rec-carousel-wrapper {
    width: 500px;
} */

div.pet-detail-more .more-pets {
    margin: 10px;
}

 .more-pets > .pet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 400px;
}

div.pet-detail-more .more-pets > .pet-container:hover,
div.pet-detail-more .more-pets > .pet-container:focus {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 3px;
}

div.pet-detail-more .more-pets > .pet-container > .image-container {
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
    border: .1px solid rgba(134, 126, 126, 0.226);
    border-radius: 3px;
}

div.pet-detail-more .more-pets > .pet-container > .image-container > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
    transition: box-shadow 250ms ease-in-out,
                  transform 150ms ease;

}

.pet-container > .image-container > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
    transition: box-shadow 250ms ease-in-out,
                  transform 150ms ease;
}

div.pet-detail-more .more-pets > .pet-container > .image-container > img:hover,
div.pet-detail-more .more-pets > .pet-container > .image-container > img:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.more-pets > .pet-container .pet-details {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 250px;
    font-size: 16px;
    margin-bottom: 5px;
}

.more-pets > .pet-container .pet-details > .pet-name {
    font-weight: bold;
    font-size: 18px;
}

.more-pets > .pet-container .pet-details > .price-and-add-pet {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 5px;
}

.pet-detail-container .pet-detail-more-container .pet-detail-more .pets-scroll {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 400px;
}

.pet-detail-container .pet-detail-more-container .pet-detail-more .pets-carousel {
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 10px 20px;
    min-height: 415px;
}

.pet-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
    transition: box-shadow 250ms ease-in-out,
    transform 150ms ease;
    border: .1px solid rgba(134, 126, 126, 0.226);
}

.pet-container img:hover,
.pet-container img:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.pet-details {
    font-size: 12px;
    width: 250px;
    height: 60px;
    align-self: first baseline;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pet-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 12px;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    object-fit: cover;
}

/* .rec-carousel {
width: 800px;
} */


.new-pet-detail-more-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}
